<!DOCTYPE html>
<html>
<head>
    <title>Google</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">  <!-- wlasny styl -->
    <link rel="shortcut icon" type="image/png" href="favicon.png"> <!-- logo google favicon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet"
         integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
         crossorigin="anonymous" />
    <!-- material design -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css">
    <link href="material-components-web.min.css" rel="stylesheet" />
    <!-- material design js -->
    <script src="material-components-web.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="container2">
  <div class="nav n2">
          <img id="google2" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" alt="Google" />
          <div class="searchbar">
              <form>
                      <div id="app">
                      <input v-model="inputContent"/>
                      <a class="icon"><i class="fas fa-keyboard"><div id="search-hover1">Narzędzie do wprowadzania tekstu</div></i></a>
                      <a class="icon"><i class="fas fa-microphone"><div id="search-hover2">Wyszukiwanie głosowe</div></i></a>
                      <a class="icon"><i class="fas fa-search"></i></a>
                      </div>
              </form>
              <v-autocompleter v-bind:input="inputContent" v-if="inputContent"></v-autocompleter>
          </div>
          <div class="icons">
            <ul>
              <li><a class="link" href="https://about.google/intl/pl/products"><i class="fas fa-th"></i></a></li>
              <li><a href="https://accounts.google.com/signin/v2/sl/pwd"><img src="profile.png"></a></li>
            </ul>
          </div>
  </div>
  <div class="menu2">
      <ul>
          <li><a href="#">Wszystko</a></li>
          <li><a href="#">Wiadomości</a></li>
          <li><a href="#">Grafika</a></li>
          <li><a href="#">Mapy</a></li>
          <li><a href="#">Filmy</a></li>
          <li><a href="#">Więcej</a></li>
          <li><a href="#">Ustawienia</a></li>
          <li><a href="#">Narzędzia</a></li>
      </ul>
  </div>
  <div id="linia"></div>
  <div id="wyszukiwanie">Około 234 000 000 wyników (0,28 s) </div>
  <div class="wyniki">
    <div>
      <div class="naglowek n1">
        Standardowy fragment Lorem Ipsum
      </div>
      <div class="tekst">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
      <div class="link">
       <a>http://ww.pl.lipsum.com</a>
      </div>
    <div>
      <div class="naglowek">Finibus Bonorum et Malorum</div>
      <div class="tekst">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
      </div>
          <div class="link">
            <a>http://www.loremipsum.io</a>
          </div>
    </div>
    <div>
      <div class="naglowek">
        Tłumaczenie H. Rackhama z 1914 roku
      </div>
      <div class="tekst">
         In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided
      </div>
        <div class="link">
          <a>http://www.lipsum.pl</a>
        </div>
    </div>
  </div>
</div>
<!-- autocompleter -->
<script src="autocompleter2.js"></script>
<!-- animals/words -->
<script src="animals.js"></script>
</body>
</html/
